<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts Prototype</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../reset.css">
  <link rel="stylesheet" type="text/css" href="list.css">
  <script src="list.js"></script>
</head>
<body>
  <ul>
    <li><div data-color="#00AACC">A</div></li>
    <li><div data-color="#FF4E00">B</div></li>
    <li><div data-color="#B90000">C</div></li>
    <li><div data-color="#5F9B0A">D</div></li>
    <li><div data-color="#4D4D4D">E</div></li>
    <li><div data-color="#00AACC">F</div></li>
    <li><div data-color="#FF4E00">G</div></li>
    <li><div data-color="#B90000">H</div></li>
    <li><div data-color="#5F9B0A">I</div></li>
    <li><div data-color="#4D4D4D">J</div></li>
    <li><div data-color="#00AACC">K</div></li>
  </ul>
</body>
</html>
