body, html {
  width: 100%;
  height: 100%;
  min-width: 200px;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: white;
  overflow: hidden;
}

.panel {
  display: hidden;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  display: none;
  left: 0;
  top: 0;
}

iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.effect {
  transition: all .3s ease;
}

.transitioning {
  z-index: 100;
  pointer-events: none;
}

.current {
  z-index: 10;
  opacity: 1;
}

.show {
  display: block;
}
